@import url("https://fonts.googleapis.com/css2?family=Besley&family=Roboto&display=swap");
@import url(./variable.css);
.highcharts-title {
    font-family: "Besley", serif !important;
    color: black !important;

    fill: auto !important;
}
body {
    font-family: "Roboto", sans-serif !important;
}
.highcharts-title .title,
.highcharts-title .subtitle {
    font-size: 2vw !important;
}

.highcharts-title img {
    width: 7vw;
    height: 7vw;
}
.highcharts-root {
    font-family: "Roboto", sans-serif !important;
}
.carousel-item,
.container-fluid {
    height: 100vh !important;
    width: 100vw !important;
}
.highcharts-container,
.highcharts-root {
    width: 100%;
    height: 100%;
}
.blank__page,
.loading__section {
    position: fixed;
    display: none;
    inset: 0;
    background-color: white;
    z-index: 9999;
}
.blank__page.show,
.loading__section.show {
    display: block;
}
.carousel-inner {
    background-color: white;
}
.orgchart {
    background-image: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgchart .hierarchy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero-content table tr th,
#hero-content table tr td {
    vertical-align: middle;
}
.carousel-item .orgchart ul li .node:hover,
.carousel-item .orgchart ul li .node:hover,
.carousel-item .orgchart .node.focused {
    background: none;
}
.carousel-item .orgchart .node:not(:only-child)::after,
.carousel-item .orgchart .node .title,
.carousel-item .orgchart > ul > li > ul li > .node::before {
    background-color: var(--colorOrgChart);
}

.carousel-item .orgchart .node .content,
.carousel-item .orgchart .hierarchy::before {
    border-color: var(--colorOrgChart);
}
.carousel-item .orgchart .oci-leader {
    display: none;
}

.carousel-item .orgchart .title,
.carousel-item .orgchart .content {
    width: auto;
    height: auto;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.carousel-item .orgchart .title {
    font-size: calc(3vw - 1rem);
}
.carousel-item .orgchart .content {
    font-size: calc(3vw - 1.5rem);
}
.carousel-item.carousel-org .container-fluid {
    position: relative;
}
.carousel-item.carousel-org .container-fluid .header {
    position: absolute;
    max-width: 40%;
    top: 0.5rem;
    z-index: 2;
    left: 1rem;
}
.carousel-item.carousel-org .container-fluid .body-org {
    width: 100vw;
    height: 100vh;
}

.node_value .parent {
    text-align: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    /* color: white; */
    align-items: center;
    justify-content: space-evenly;
}

.node_value .parent h4,
.node_value .parent .title,
.node_value .parent .title-parent {
    font-weight: bold;
    font-family: "Besley", serif !important;
}

.node_value .parent .with-image {
    display: flex;
    width: 90%;
    align-items: center;
}
.node_value .parent .with-image .parent {
    width: 100%;
}
.node_value .parent .with-image img {
    width: 60px;
    height: 60px;
}
.node_value .parent h6,
.node_value .parent h5,
.node_value .parent h4,
.node_value .parent .subtitle {
    margin-bottom: 0 !important;
    margin-top: 10px;
}
.node_value .parent .title-parent {
    border-bottom: 3px solid black;
    width: 90%;
    padding-bottom: 1rem;
    margin: 0 !important;
}

#bagan-struktur [node-id] rect {
    fill: #ffff00;
}
#pengurus-pkk [node-id] rect {
    fill: rgb(238, 238, 248);
}
